<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Turnos</title>
</head>
<body>
    <h1>Minifutbol IES-9024</h1>
    <h2>Listado Turnos</h2>    
    <table border="1">
        <thead>
            <tr>
                <th>N° de lista</th>
                <th>Dia</th>
                <th>N° de Turno</th>
                <th>Cliente</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < turnos.length; i++) { %>
                <tr>
                    <td><%= i+1%></td>
                    <td><%= turnos[i].dia %></td>
                    <td><%= turnos[i].hora %></td>
                    <td><%= turnos[i].cliente.nombre %></td>
                    <td>
                        <form action="/eliminarTurno" method="post">
                            <input type="hidden" name="token" value="<%=token%>">
                            <input type="hidden" name="dia" value="<%= turnos[i].dia %>">
                             <input type="hidden" name="turno" value="<%= turnos[i].hora %>">
                            <input type="submit" value="Eliminar">
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <br>
    <form action="<%=url%>/menuGeneral" method="POST">
        <input type="hidden" name="token" value="<%=token%>">
        <input type="submit" value="Volver">
    </form>
</body>
</html>